<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- Data manipulatie -->
    <% 
    console.log("----")
    console.log("Pagina opgevraagd.")
    var currentDate = new Date();

    if(day == 0) {
        var datum = "nu"
    } else if (day < 7) {
        var days = ['Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag','Zaterdag', 'Zondag'];
        var datum = "aanstaande " + days[(parseInt(currentDate.getDay()) + parseInt(day)) - 1];
    } else {
        console.log("Helaas is het niet mogelijk om langer dan een week vooruit te kijken")
    }

    var location = weatherData.location.city;

    if(day == 0) {
        var temperature = weatherData.current_observation.condition.temperature;
    } else if (day < 9) {
        var temperature = "tussen " + weatherData.forecasts[day].low + " en " + weatherData.forecasts[day].high;
    }

    var status = weatherData.current_observation.condition.text;
    var windsnelheid = weatherData.current_observation.wind.speed;
    var sunrise = weatherData.current_observation.astronomy.sunrise;
    var sunset = weatherData.current_observation.astronomy.sunset;

    console.log("----")
    %>

    <!-- Zichtbaar HTML -->

    <div id="error" class="error">
        Helaas is het niet mogelijk om verder dan een week vooruit te kijken. Klik op pijltje links om terug te gaan, of pijltje omlaag om terug te gaan naar datum van vandaag.
    </div>

    <div id="information" class="information">
        <p id="datum">
            Weerbericht voor 
            <%- datum %>, <%- location %> 
        </p>
    
        <p id="weerbericht">
            Temperatuur:
            <%- temperature %>
            graden.
        </p>
    
        <div id="details" class="details">
            <p>Status: <%- status %></p>
            <p>Windsnelheid: <%- windsnelheid %> per uur</p>
            <p>Zonsopgang: <%- sunrise %></p>
            <p>Zonsondergang: <%- sunset %></p>
        </div>
    </div>
    
    <div id="navigatie" style="margin-top: 3em;">
        <p><b>Navigatie </b></p>
        <p> Rechts = dag vooruit</p>
        <p> Links = dag achteruit</p>
        <p> Onder = vandaag</p>
        <p> Boven = meer informatie</p>
    </div>

    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>