<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <audio id="audio" volume="0.1" src="/mp3/nature.mp3" loop="loop"></audio>

    <!-- Data manipulatie -->
    <% 
    console.log("----")
    console.log("Pagina opgevraagd.")


    if(day == 0) {
        var datum = "Nu"
    } else if (day < 7) {
        var days = ['Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag','Zaterdag', 'Zondag'];
        var currentDate = new Date();
        var datum = "aanstaande " + days[(parseInt(currentDate.getDay()) + parseInt(day)) - 1];
    } else {
        console.log("Helaas is het niet mogelijk om langer dan een week vooruit te kijken")
    }


    if(day == 0) {
        var temperature = weatherData.current_observation.condition.temperature;
    } else if (day < 9) {
        var temperature = "tussen " + weatherData.forecasts[day].low + " en " + weatherData.forecasts[day].high;
    }

    var location = weatherData.location.city;
    var status = weatherData.current_observation.condition.text;
    var windsnelheid = weatherData.current_observation.wind.speed;
    var sunrise = weatherData.current_observation.astronomy.sunrise;
    var sunset = weatherData.current_observation.astronomy.sunset;

    console.log("----")
    %>

    <!-- Zichtbaar HTML -->

    <div id="error" class="error">
        Helaas is het niet mogelijk om verder dan een week vooruit te kijken. Klik op pijltje links om terug te gaan, of pijltje omlaag om terug te gaan naar datum van vandaag.
    </div>

    <div id="information" class="information">
        <span id="datum" lang="en">
            <%- datum %>, <%- location %> 
        </span>
    
        <p id="weerbericht">
            Temperatuur:
            <%- temperature %>
            graden celcius
        </p>
    
        <div id="details" class="details">
            <span lang="en">Status: <%- status %></span><br>
            <span lang="en">Windsnelheid: <%- windsnelheid %> kilometer per uur</span><br>
            <span lang="en">Zonsopgang: <%- sunrise %></span><br>
            <span lang="en">Zonsondergang: <%- sunset %></span><br>
        </div>
    </div>
    
    <div id="navigatie" style="margin-top: 3em;">
        <p><b>Navigatie </b></p>
        <button id="button4">meer informatie</button>
        <button id="button2">dag achteruit</button>
        <button id="button3">vandaag</button>
        <button id="button1">dag vooruit</button>
    </div>

    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>