<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div id="navigatie" style="margin-top: 3em;">
        <button id="button4">meer informatie</button>
        <button id="button2">dag achteruit</button>
        <button id="button3">vandaag</button>
        <button id="button1">dag vooruit</button>
    </div>

    <audio id="audio" volume="0.1" src="/mp3/nature.mp3" loop="loop"></audio>

    <!-- Data manipulatie -->
    <% 
    console.log("----")
    console.log("Pagina opgevraagd.")


    if(day == 0) {
        var datum = "Nu"
    } else if (day < 7) {
        var days = ['Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag','Zaterdag', 'Zondag'];
        var currentDate = new Date();
        var datum = "aanstaande " + days[(parseInt(currentDate.getDay()) + parseInt(day)) - 1];
    } else {
        console.log("Helaas is het niet mogelijk om langer dan een week vooruit te kijken")
    }


    if(day == 0) {
        var temperature = weatherData.current_observation.condition.temperature;
    } else if (day < 9) {
        var temperature = "tussen " + weatherData.forecasts[day].low + " en " + weatherData.forecasts[day].high;
    }

    var location = weatherData.location.city;
    var status = weatherData.current_observation.condition.text;
    var windsnelheid = weatherData.current_observation.wind.speed;
    var sunrise = weatherData.current_observation.astronomy.sunrise;
    var sunset = weatherData.current_observation.astronomy.sunset;

    console.log("----")
    %>

    <!-- Zichtbaar HTML -->

    <div id="error" class="error">
        Helaas is het niet mogelijk om verder dan een week vooruit te kijken. Klik op pijltje links om terug te gaan, of pijltje omlaag om terug te gaan naar datum van vandaag.
    </div>

    <div id="information" class="information">
        <span id="datum" lang="en">
            Weerbericht van     <%- datum %>, <%- location %> 
        </span>
    
        <p id="weerbericht">
            Temperatuur is
            <%- temperature %>
            graden celcius
        </p>

        <div id="details" class="details">
            <p>Het gaat over 1 uur en 15 minuten voor een uur lang hard regenen!</p>
            <span lang="en">Status is <%- status %></span><br>
            <span lang="en">Windsnelheid is <%- windsnelheid %> kilometer per uur</span><br>
            <span lang="en">Zonsopgang is om <%- sunrise %></span><br>
            <span lang="en">Zonsondergang is om <%- sunset %></span><br>
        </div>

        <div id="buttons" class="buttons">
            <button id="1uurbutton">Weerbericht komende uur</button>
            <button id="3uurbutton">Weerbericht komende 3 uur</button>
            <button id="24uurbutton">Weerbericht komende 24 uur</button>
        </div>

        <div id="1uur" style="display: none">
            <table>
                <tr>
                    <th>0 min</th>
                    <th>10 ml</th>
                </tr>
                <tr>
                    <th>10 min</th>
                    <th>20 ml</th>
                </tr>
                <tr>
                    <th>20 min</th>
                    <th>23 ml</th>
                </tr>
                <tr>
                    <th>30 min</th>
                    <th>20 ml</th>
                </tr>
                <tr>
                    <th>40 min</th>
                    <th>35 ml</th>
                </tr>
                <tr>
                    <th>50 min</th>
                    <th>35 ml</th>
                </tr>
                <tr>
                    <th>60 min</th>
                    <th>30 ml</th>
                </tr>
            </table>    
        </div>

        <div id="3uur" style="display: none">
            <table>
                <tr>
                    <th>0 min</th>
                    <th>10 ml</th>
                </tr>
                <tr>
                    <th>15 min</th>
                    <th>22 ml</th>
                </tr>
                <tr>
                    <th>30 min</th>
                    <th>20 ml</th>
                </tr>
                <tr>
                    <th>45 min</th>
                    <th>35 ml</th>
                </tr>
                <tr>
                    <th>1 uur</th>
                    <th>30 ml</th>
                </tr>
                <tr>
                    <th>1 uur 15 minuten</th>
                    <th>45 ml</th>
                </tr>
                <tr>
                    <th>1 uur 30 minuten</th>
                    <th>60 ml</th>
                </tr>
                <tr>
                    <th>1 uur 45 minuten</th>
                    <th>75 ml</th>
                </tr>
                <tr>
                    <th>2 uur 0 minuten</th>
                    <th>110 ml</th>
                </tr>
                <tr>
                    <th>2 uur 15 minutenn</th>
                    <th>130 ml</th>
                </tr>
                <tr>
                    <th>2 uur 30 minuten</th>
                    <th>190 ml</th>
                </tr>
                <tr>
                    <th>2 uur 45 minuten</th>
                    <th>160 ml</th>
                </tr>
                <tr>
                    <th>3 uur</th>
                    <th>50 ml</th>
                </tr>
            </table>    
        </div>

        <div id="24uur" style="display: none">
            <button id="1kwart">Komende 6 uur</button>
            <button id="2kwart">Over 6 tot 12 uur</button>
            <button id="3kwart">Over 12 tot 18 uur</button>
            <button id="4kwart">Over 18 tot 24 uur</button>
            
            <div id="firstH">
                <table>
                    <tr>
                        <th>0 uur</th>
                        <th>10 ml</th>
                    </tr>
                    <tr>
                        <th>1 uur</th>
                        <th>30 ml</th>
                    </tr>
                    <tr>
                        <th>2 uur</th>
                        <th>110 ml</th>
                    </tr>
                    <tr>
                        <th>3 uur</th>
                        <th>50 ml</th>
                    </tr>
                    <tr>
                        <th>4 uur</th>
                        <th>40 ml</th>
                    </tr>
                    <tr>
                        <th>5 uur</th>
                        <th>35 ml</th>
                    </tr>
                </table>
            </div>

            <div id="secondH">
                <table>
                    <tr>
                        <th>6 uur</th>
                        <th>30 ml</th>
                    </tr>
                    <tr>
                        <th>7 uur</th>
                        <th>15 ml</th>
                    </tr>
                    <tr>
                        <th>8 uur</th>
                        <th>10 ml</th>
                    </tr>
                    <tr>
                        <th>9 uur</th>
                        <th>5 ml</th>
                    </tr>
                    <tr>
                        <th>10 uur</th>
                        <th>0 ml</th>
                    </tr>
                    <tr>
                        <th>11 uur </th>
                        <th>0 ml</th>
                    </tr>
                </table>
            </div>

            <div id="thirdH">
                <table>
                    <tr>
                        <th>12 uur</th>
                        <th>0 ml</th>
                    </tr>
                    <tr>
                        <th>13 uur</th>
                        <th>0 ml</th>
                    </tr>
                    <tr>
                        <th>14 uur</th>
                        <th>0 ml</th>
                    </tr>
                    <tr>
                        <th>15 uur</th>
                        <th>0 ml</th>
                    </tr>
                    <tr>
                        <th>16 uur</th>
                        <th>5 ml</th>
                    </tr>
                    <tr>
                        <th>17 uur</th>
                        <th>0  ml</th>
                    </tr>
                </table>
            </div>

            <div id="fourthH">
                <table>
                    <tr>
                        <th>18 uur</th>
                        <th>10 ml</th>
                    </tr>
                    <tr>
                        <th>19 uur</th>
                        <th>20 ml</th>
                    </tr>
                    <tr>
                        <th>20 uur</th>
                        <th>25 ml</th>
                    </tr>
                    <tr>
                        <th>21 uur</th>
                        <th>30 ml</th>
                    </tr>
                    <tr>
                        <th>22 uur</th>
                        <th>35 ml</th>
                    </tr>
                    <tr>
                        <th>23 uur</th>
                        <th>35 ml</th>
                    </tr>
                </table>
            </div>    
        </div>
        
    </div>
    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>